# Welcome to an example Binder

We need `seaborn`, which shall be included it in `requirements.txt` file

In [3]:
import pandas as pd
import numpy as np

In [6]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           cwurData.csv   pokemon.csv
antropometria00.csv        data.csv       sample_pivot.csv
antropometria-dataset.csv  headbrain.csv  tips.csv
Canada.xlsx                mic.xlsx       weight-height.csv
Cartwheeldata.csv          movies.csv

In [21]:
df = pd.read_csv('datasets/census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [22]:
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

In [44]:
my_pivot = pd.pivot_table(df,
                        index = ['STNAME','CTYNAME'],
                        values = ['BIRTHS2010','BIRTHS2011'],
                        #aggfunc = ['std','sum','mean','median'],
                        aggfunc = 'median',
                        columns = 'SUMLEV',
                        margins = True
                         )
            
my_pivot

                        BIRTHS2010               BIRTHS2011
SUMLEV                          40     50    All         40      50    All
STNAME  CTYNAME
Alabama Alabama            14226.0    NaN  14226    59689.0     NaN  59689
        Autauga County         NaN  151.0    151        NaN   636.0    636
        Baldwin County         NaN  517.0    517        NaN  2187.0   2187
        Barbour County         NaN   70.0     70        NaN   335.0    335
        Bibb County            NaN   44.0     44        NaN   266.0    266
...                            ...    ...    ...        ...     ...    ...
Wyoming Uinta County           NaN   73.0     73        NaN   324.0    324
        Washakie County        NaN   26.0     26        NaN   108.0    108
        Weston County          NaN   26.0     26        NaN    81.0     81
        Wyoming             1995.0    NaN   1995     7471.0     NaN   7471
All                        13752.0   76.0     78    55313.0   304.0    311

[3193 rows x 6 columns]

In [51]:
df = pd.read_csv('datasets/airline_data.csv',low_memory=False)
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=110)

In [53]:
df.shape

(9442, 110)

In [55]:
columns = df.columns.tolist()
columns.sort()
columns

['ActualElapsedTime',
 'AirTime',
 'ArrDel15',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrTime',
 'ArrTimeBlk',
 'ArrivalDelayGroups',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DOT_ID_Reporting_Airline',
 'DayOfWeek',
 'DayofMonth',
 'DepDel15',
 'DepDelay',
 'DepDelayMinutes',
 'DepTime',
 'DepTimeBlk',
 'DepartureDelayGroups',
 'Dest',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'Distance',
 'DistanceGroup',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1LongestGTime',
 'Div1TailNum',
 'Div1TotalGTime',
 'Div1WheelsOff',
 'Div1WheelsOn',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2LongestGTime',
 'Div2TailNum',
 'Div2TotalGTime',
 'Div2WheelsOff',
 'Div2WheelsOn',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3LongestGTime',
 'Div3TailNum',
 'Div3TotalGTime',
 'Div3WheelsOff',
 'Div3WheelsOn',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4LongestGTime',
 'Div4TailNum',
 'Div4TotalGTime',
 'Div4WheelsOff',
 'Div4WheelsOn',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5LongestGTime',
 'Div5TailNum',
 'Div5TotalGTime',
 'Div5WheelsOff',
 'Div5WheelsOn',
 'DivActualElapsedTime',
 'DivAirportLandings',
 'DivArrDelay',
 'DivDistance',
 'DivReachedDest',
 'Diverted',
 'FirstDepTime',
 'FlightDate',
 'Flight_Number_Reporting_Airline',
 'Flights',
 'IATA_CODE_Reporting_Airline',
 'LateAircraftDelay',
 'LongestAddGTime',
 'Month',
 'NASDelay',
 'Origin',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'Quarter',
 'Reporting_Airline',
 'SecurityDelay',
 'Tail_Number',
 'TaxiIn',
 'TaxiOut',
 'TotalAddGTime',
 'Unnamed: 0',
 'WeatherDelay',
 'WheelsOff',
 'WheelsOn',
 'Year']

In [61]:
delay_pivot = pd.pivot_table(df,
                             index = ['Year','Quarter'],
                             values = 'DepDelay',
                             aggfunc = 'sum',
                             columns = 'DepartureDelayGroups',
                             margins = True
                            )
delay_pivot

DepartureDelayGroups   -2.0     -1.0      0.0      1.0      2.0      3.0  \
Year Quarter
1987 4                  NaN    -20.0     81.0    145.0     36.0     97.0
1988 1                  NaN    -15.0    121.0    131.0      NaN     97.0
     2                  NaN    -11.0     84.0    119.0    105.0     52.0
     3                  NaN    -23.0     89.0     21.0     39.0      NaN
     4                  NaN    -15.0     91.0    137.0    119.0      NaN
...                     ...      ...      ...      ...      ...      ...
2019 2                -19.0   -326.0    117.0    208.0    185.0    162.0
     3                  NaN   -254.0     88.0     67.0    197.0     53.0
     4                  NaN   -236.0     92.0    133.0    176.0     47.0
2020 1                  NaN   -314.0     54.0     44.0    108.0     57.0
All                  -226.0 -17336.0  11373.0  13688.0  11974.0  10061.0

DepartureDelayGroups     4.0     5.0     6.0     7.0     8.0     9.0    10.0  \
Year Quarter
1987 4                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
1988 1                  63.0    82.0    98.0   109.0     NaN     NaN     NaN
     2                   NaN    78.0     NaN     NaN     NaN     NaN   151.0
     3                   NaN     NaN     NaN     NaN     NaN     NaN     NaN
     4                  63.0    85.0     NaN     NaN     NaN     NaN     NaN
...                      ...     ...     ...     ...     ...     ...     ...
2019 2                 193.0   169.0   103.0   115.0   131.0     NaN   164.0
     3                 131.0   150.0    97.0     NaN     NaN     NaN     NaN
     4                  70.0     NaN     NaN     NaN     NaN     NaN     NaN
2020 1                 135.0    83.0     NaN     NaN     NaN   140.0     NaN
All                   9031.0  6542.0  5436.0  4723.0  3262.0  2999.0  3748.0

DepartureDelayGroups    11.0     12.0      All
Year Quarter
1987 4                   NaN      NaN    339.0
1988 1                   NaN      NaN    686.0
     2                 179.0      NaN    757.0
     3                   NaN      NaN    126.0
     4                   NaN      NaN    480.0
...                      ...      ...      ...
2019 2                   NaN      NaN   1202.0
     3                   NaN    522.0   1051.0
     4                   NaN      NaN    282.0
2020 1                   NaN      NaN    307.0
All                   2399.0  12933.0  80607.0

[131 rows x 16 columns]

In [63]:
df[['DepDelay','DepartureDelayGroups']]

TypeError: 'numpy.int64' object is not callable

In [66]:
df.groupby(['DepDelay','DepartureDelayGroups']).size()

DepDelay  DepartureDelayGroups
-23.0     -2.0                    1
-19.0     -2.0                    2
-18.0     -2.0                    1
-17.0     -2.0                    3
-16.0     -2.0                    6
                                 ..
 403.0     12.0                   1
 460.0     12.0                   1
 600.0     12.0                   1
 732.0     12.0                   1
 988.0     12.0                   1
Length: 224, dtype: int64

In [65]:
df.describe()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Reporting_Airline,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
count,9.442000e+03,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9442.000000,9.442000e+03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.002191e+06,2004.410294,2.525736,6.568630,15.695086,3.948422,19926.147638,1733.463461,12725.391760,1.272541e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,5.750812e+05,9.140586,1.114095,3.452402,8.870576,1.995809,368.788451,1652.988876,1543.143222,1.543141e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.100000e+02,1987.000000,1.000000,1.000000,1.000000,1.000000,19386.000000,1.000000,10135.000000,1.013501e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.122065e+05,1997.000000,2.000000,4.000000,8.000000,2.000000,19704.000000,530.250000,11292.000000,1.129202e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.008876e+06,2005.000000,3.000000,7.000000,16.000000,4.000000,19805.000000,1183.500000,12892.000000,1.289201e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.496591e+06,2012.000000,4.000000,10.000000,23.000000,6.000000,20355.000000,2235.500000,14100.000000,1.410001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.999844e+06,2020.000000,4.000000,12.000000,31.000000,7.000000,21171.000000,7934.000000,16440.000000,1.644001e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df['DepDelay'].min()

-23.0

In [140]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           cwurData.csv   pokemon.csv
antropometria00.csv        data.csv       sample_pivot.csv
antropometria-dataset.csv  headbrain.csv  tips.csv
Canada.xlsx                mic.xlsx       weight-height.csv
Cartwheeldata.csv          movies.csv

In [141]:
import pandas as pd
import numpy as np

In [142]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [143]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [150]:
df = pd.read_excel('datasets/Canada.xlsx',
                  engine = 'openpyxl',
                  skiprows = range(20),
                   sheet_name = 'Canada by Citizenship'
                  )
df.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
df.shape

(1015, 51)

In [152]:
df.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [153]:
df.drop(['Type','Coverage','AREA',
        'AreaName', 'Unnamed: 43','Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
       axis = 1,
       inplace = True)

In [154]:
df.columns

Index([ 'OdName',     'REG', 'RegName',     'DEV', 'DevName',      1980,
            1981,      1982,      1983,      1984,      1985,      1986,
            1987,      1988,      1989,      1990,      1991,      1992,
            1993,      1994,      1995,      1996,      1997,      1998,
            1999,      2000,      2001,      2002,      2003,      2004,
            2005,      2006,      2007,      2008,      2009,      2010,
            2011,      2012,      2013],
      dtype='object')

In [155]:
df.rename(columns ={'OdName':'Country',
                    'RegName':'Continent'},
         inplace = True)

In [156]:
df.columns

Index([  'Country',       'REG', 'Continent',       'DEV',   'DevName',
              1980,        1981,        1982,        1983,        1984,
              1985,        1986,        1987,        1988,        1989,
              1990,        1991,        1992,        1993,        1994,
              1995,        1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013],
      dtype='object')

In [170]:
df['Total'] = df.iloc[:,5:].sum(axis = 1)
#df.iloc[:,5:]
#df.Loc[:,'1980':]

In [171]:
df.head(2)

,Country,REG,Continent,DEV,DevName,1980,1981,1982,1983,1984,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,5501.0,Southern Asia,902.0,Developing regions,16.0,39.0,39.0,47.0,71.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,117278.0
1,Albania,925.0,Southern Europe,901.0,Developed regions,1.0,0.0,0.0,0.0,0.0,...,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,31398.0

In [172]:
df.iloc[0:1,-1]

0    117278.0
Name: Total, dtype: float64

In [173]:
df.set_index('Country')

,REG,Continent,DEV,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,5501.0,Southern Asia,902.0,Developing regions,16.0,39.0,39.0,47.0,71.0,340.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,117278.0
Albania,925.0,Southern Europe,901.0,Developed regions,1.0,0.0,0.0,0.0,0.0,0.0,...,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,31398.0
Algeria,912.0,Northern Africa,902.0,Developing regions,80.0,67.0,71.0,69.0,63.0,44.0,...,3626.0,4807.0,3623.0,4005.0,5393.0,4752.0,4325.0,3774.0,4331.0,138878.0
American Samoa,957.0,Polynesia,902.0,Developing regions,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
Andorra,925.0,Southern Europe,901.0,Developed regions,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [174]:
df.reset_index()

,index,Country,REG,Continent,DEV,DevName,1980,1981,1982,1983,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,0,Afghanistan,5501.0,Southern Asia,902.0,Developing regions,16.0,39.0,39.0,47.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,117278.0
1,1,Albania,925.0,Southern Europe,901.0,Developed regions,1.0,0.0,0.0,0.0,...,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,31398.0
2,2,Algeria,912.0,Northern Africa,902.0,Developing regions,80.0,67.0,71.0,69.0,...,3626.0,4807.0,3623.0,4005.0,5393.0,4752.0,4325.0,3774.0,4331.0,138878.0
3,3,American Samoa,957.0,Polynesia,902.0,Developing regions,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
4,4,Andorra,925.0,Southern Europe,901.0,Developed regions,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1011,1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1012,1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1013,1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1014,1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [178]:
df.loc['Japan','Total']

KeyError: 'Japan'

In [177]:
df.loc['Japan']

KeyError: 'Japan'

In [179]:
df.columns

Index([  'Country',       'REG', 'Continent',       'DEV',   'DevName',
              1980,        1981,        1982,        1983,        1984,
              1985,        1986,        1987,        1988,        1989,
              1990,        1991,        1992,        1993,        1994,
              1995,        1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013,     'Total'],
      dtype='object')

In [180]:
df.columns = list(map(str,df.columns))
df.columns

Index(['Country', 'REG', 'Continent', 'DEV', 'DevName', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', 'Total'],
      dtype='object')